main {
    flex: 1; /* flex-direction: row em volta do main e da sidebar, entao 
    com flex: 1 faz com que o main ocupe todo o espaço disponivel dele */
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas, poderia ser tbm "repeat(2, 1fr)" */
    gap: 20px;
    list-style: none; /*remove bolinhas do li */
}

@media (max-width: 650px) {
    main ul {
        width: 100%;
        grid-template-columns: 1fr;
    }
}